body {
	background-color: #EFEFEF;
	text-align: center;
	font-family: Arial;
	margin-top: 30px;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 100px;
	margin-bottom: 0;
	padding-bottom: 0;
}

h3 {
	margin-top: 0;
}

.gray {
	color: #666;
}

#code pre {
	text-align: left;
	background: #DDD;
	border: 1px solid #BBB;
	padding: 3px;
	font-size: 15px;
}

#code {
	margin: auto;
	width: 500px;
	font-size: 18px;
	text-align: left;
}
